<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michal_stasinski.tabu">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Menu.PizzaSizePopUp"
            android:theme="@style/AppTheme.PopUpWindow" />
        <activity
            android:name=".Menu.AddonsPopUp"
            android:theme="@style/AppTheme.PopUpWindow" />
        <activity
            android:name=".Menu.AddRemoveOrderPopUp"
            android:theme="@style/AppTheme.PopUpWindow" />
        <activity
            android:name=".Menu.SaucePopUp"
            android:theme="@style/AppTheme.PopUpWindow" />
        <activity
            android:name=".Menu.OrderComposer"
            android:theme="@style/Theme.Swipe.Back" />
        <activity
            android:name=".Menu.ShopingCardListView"
            android:theme="@style/Theme.Swipe.Back" />
        <activity
            android:name=".Menu.TimeOfDeliveryPopUp"
            android:theme="@style/AppTheme.PopUpWindow" />

        <activity
            android:name=".Menu.EditTextPopUp"
            android:theme="@style/AppTheme.PopUpWindow2" />

        <activity android:name=".Menu.DataForDeliveryListView"></activity>
    </application>

</manifest>